<configuration scan="true">

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{ISO8601} [%thread] %highlight(%-5level) %cyan(%logger{36}) - %green(%msg%n)</pattern>
        </encoder>
    </appender>

<!--    <logger name="org.postgresql.*" level="INFO"/>-->
<!--    <logger name="jakarta.persistence.*" level="DEBUG"/>-->
<!--    <logger name="jakarta.persistence.*" level="DEBUG"/>-->
<!--    <logger name="org.hibernate.type" level="ALL" />-->
<!--    <logger name="org.hibernate" level="DEBUG" />-->
<!--    <logger name="com.zaxxer.hikari.pool.PoolBase" level="INFO"/>-->
<!--    <logger name="com.zaxxer.hikari.pool.HikariPool" level="INFO"/>-->
<!--    <logger name="com.zaxxer.hikari.HikariDataSource" level="INFO"/>-->



    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>